* {
  box-sizing: border-box;
}

.nav-container {
  display: flex;
  margin: 0 50px 0 50px;
}

.logo-container {
  width: 20%;
}

.nav-items-container {
  width: 60%;
  font-size: larger;
  font-family: 'Courier New', Courier, monospace;
}

.nav-items {
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.info-section {
  margin: 50px 50px 0 50px;
  display: flex;
}

.font {
  font-family: "Lucida Sans", Geneva, Verdana, sans-serif;
}

.info-content {
  margin-left: 50px;
  font-size: larger;
  font-family: "Lucida Sans", sans-serif;
}

table {
  border-collapse: collapse;
}

table,
th,
td {
  border: 2px solid black;
}

.table {
  margin: 0 50px;
  padding: 10px;
  font-size: 20px;
}
.form {
  margin-left: 50px;
  font-family: "Trebuchet MS", Arial, sans-serif;
  font-size: 16px;
}
